
</div>
<div class="footer-padding"></div>
  <div >
    <section class="copyright-container footer">

      <footer class="bg-dark text-center pt-2 pb-4">
        <a href="https://github.com/gba100" class="btn btn-outline-light btn-floating m-1"><i
            class="fab fa-github"></i></a>
        <a href="mailto:galbenamy@gmail.com" class="btn btn-outline-light btn-floating m-1"> <i
            class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/gal-ben-amy-05b5691a0/"
          class="btn btn-outline-light btn-floating m-1"><i class="fab fa-linkedin"></i></a>
      </footer>
      <footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <a>&copy; 2023</a>
          <a class="text-white" href="https://gba100.github.io/fullstack/">Gal Rozenbaum</a>
        </div>
      </footer>

  </section>
  </div>
</div>
