* {
    font-family: href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #e9ecef;
    margin: 0px;
    margin: 5% auto;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0% auto;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#home {
    background-color: #3579f700;
    margin: 5% auto auto auto;
}

@media (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    #home {
        padding-top: 0%;
        margin-top: 0px;
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 768px) {
    #home {
        padding-top: 10%;
        height: 50rem;
    }
}


/*
.topsec {
    background-color: rgb(128, 0, 0);
    padding: 10%;
    height: 50%;
}

.midsec {
    background-color: green;
    padding: 10%;
    height: 50%;
}

.botsec {
    background-color: rgb(0, 77, 128);
    padding: 10%;
    height: 50%;
}*/


/**navagation bar**/

.nav {
    float: right;
    margin: 5% auto;
}

@media only screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=#000000');
}

.topleft h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed left;
    margin-top: 0.8%;
    margin-left: 0.4%;
    float: left;
    font-size: 80%;
    border-radius: 15px;
    background-color: #424242;
    outline-color: #000000;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 5px 20px;
    border: 5px solid;
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .nav,
    .topleft h3 {
        float: none;
        padding: 1%;
        margin: 0%;
        text-align: center;
    }
}


/*top right button selection*/

.navbtn {
    padding: 15px 15px;
}

.navbtn li {
    display: inline-block;
    margin-top: 1%;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .navbtn li {
        margin-top: 3%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .navbtn li {
        margin-top: 3%;
    }
}

.navbtn li a {
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 5px 20px;
    transition: 0.5s ease;
}

.navbtn li a:hover {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5px;
    width: auto;
    height: auto;
    text-orientation: sideways;
    transition: unset;
    transition: width 0.8s, height 0.8s, background-color 0.8s, transform 0.5s;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .navbtn li a:hover {
        width: 100%;
        text-align: center;
    }
}

.navbtn li.active a {
    background-color: #fff;
    color: #000;
}


/**********logo& social-icon ***************/

.logo img {
    /*background-color: rgb(61, 61, 61);*/
    margin-left: 28%;
    height: top;
    float: left;
    width: 45%;
    height: auto;
}

.icon img {
    /*background-color: rgb(61, 61, 61);*/
    display: flex;
    justify-content: center;
    margin-left: 7%;
    width: 15%;
    height: auto;
}

.social-icon {
    margin: 20px 10px;
}


/*****************projects page*******************/

.projects {
    padding-top: 4%;
    margin: 5% auto;
    padding-bottom: 10%;
    padding-left: 2%;
    text-align: left;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .projects {
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 10%;
        padding-bottom: 9%;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .projects {
        margin-left: 10%;
        width: 80%;
    }
}

.card {
    width: 70%;
    padding: 3%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens smaller than 768px */
    .card {
        width: 60%;
        padding: 3%;
    }
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .card {
        margin-left: 15%;
    }
}


/*project button*/

#buttonprj {
    text-align: center;
    margin-left: 80%;
    transform: (-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens smaller than 768px */
    #buttonprj {
        margin-left: 70%;
    }
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    #buttonprj {
        margin-top: 50%;
        margin-left: 33.5%;
    }
}


/********************box (border of animated box) for index page************************/

.box {
    position: relative;
    text-align: center;
    border-style: hidden;
    border-width: 0px;
    display: table;
    width: 70rem;
    transform: (-50%, -50%);
    margin: auto auto 15px 30%;
    width: 40%;
    height: 100px;
    background-color: #dedede;
    text-orientation: sideways;
    transition: unset;
    border-radius: 5px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    background-color: #3579f7;
    width: 50%;
    height: 200px;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .box {
        width: 80%;
        top: 0.8%;
        margin-left: 10%;
    }
    .box:hover {
        margin-left: 10%;
        width: 80%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .box {
        width: 40%;
        margin-left: 30%;
    }
    .box:hover {
        width: 40%;
        height: 150px;
    }
}


/*font last box on index page*/

.box p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
}


/*****************contact page*******************/


/*make text box fill screen */

.flex-container {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.fill-width {
    flex: 1;
}


/*box for contact page*/

.contact {
    position: relative;
    display: table;
    margin-left: 33%;
    width: 33%;
    background-color: #b3b3b3;
    text-orientation: sideways;
    border-radius: 5px;
}

.contact h1 {
    margin-top: 5%;
    font-size: larger;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .contact {
        top: 2%;
        margin-left: 5%;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .contact {
        top: 5%;
        margin-left: 15%;
        width: 70%;
    }
}

.copyright-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*******************************project 1*************************************/

.form {
    margin: 40px 0 0 0;
}

input {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border: 2px solid #3f3737;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
}

.boxweather {
    background-color: #fff;
    border: 1px solid #9cebff;
    border-radius: 5px;
    padding: 20px;
    margin: 40px 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5% auto;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .boxweather {
        margin: 5% auto;
    }
}

.containerproj1 {
    width: 70rem;
    margin: 0% auto;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .containerproj1 {
        height: 65rem;
        width: 20rem;
        margin-top: 0px;
        margin: 10% auto;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .containerproj1 {
        height: 30rem;
        width: 50rem;
        margin: 10% auto;
    }
}

.weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-info__item {
    margin: 20px;
    padding: 20px;
    background-color: #75797a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#desc {
    font-size: 1.2rem;
    margin-top: 10px;
}

#weatherData {
    display: none;
}

#temp {
    font-size: 2rem;
    font-weight: bold;
}

#humidity,
#wind-speed,
#sunrise,
#sunset {
    margin-top: 10px;
}


/*******************************project 2*************************************/