* {
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.main {
    width: 100%;
    height: 200vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #0040ca, #8ecdff);
    /*height: 55pt;*/
    /*max-width: 1200px;*/
    margin: auto;
}

body {
    margin: 0px;
    text-align: center;
    background-color: #535353;
}


/**navagation bar**/

.nav {
    float: right;
}

.topleft h3 {
    position: fixed left;
    top: 0;
    margin-top: 0.8%;
    margin-bottom: 1%;
    margin-left: 0.4%;
    float: left;
    font-size: 100%;
    border-radius: 15px;
    background-color: #424242;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .nav,
    .topleft h3 {
        float: none;
        padding: 1%;
        margin: 0%;
        text-align: center;
    }
}


/*top right button selection*/

ul {
    padding: 5px 5px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 5px 20px;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5px;
    width: auto;
    height: auto;
    text-orientation: sideways;
    transition: unset;
    transition: width 0.8s, height 0.8s, background-color 0.8s, transform 0.5s;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    ul li a:hover {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    ul li a:hover {
        width: 75%;
    }
}

ul li.active a {
    background-color: #fff;
    color: #000;
}


/**********pc logo***************/

.logo img {
    /*background-color: rgb(61, 61, 61);*/
    margin-left: 28%;
    height: top;
    float: left;
    width: 45%;
    height: auto;
}

.icon img {
    /*background-color: rgb(61, 61, 61);*/
    display: flex;
    justify-content: center;
    margin-left: 7%;
    width: 15%;
    height: auto;
}

.projects {
    padding-top: 4%;
    margin-top: 5%;
    margin-left: 25%;
    padding-left: 2%;
    text-align: left;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .projects {
        margin-left: 5%;
        width: 85%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .projects {
        margin-left: 10%;
        width: 80%;
    }
}


/*project button*/

.buttonprj {
    text-align: center;
    margin: 10% -80% 10% auto;
    padding-bottom: 15%;
    transform: (-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens smaller than 768px */
    .buttonprj {
        margin-left: -20%;
    }
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .buttonprj {
        margin-left: -20%;
    }
}


/**button array &  behavior**/

.button {
    text-align: center;
    margin-top: 5%;
    transform: (-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens smaller than 768px */
    .button {
        padding-top: 5%;
        transform: none;
    }
}


/**actual button size & color **/

.btn {
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 30px;
    color: rgb(36, 33, 33);
    text-decoration: none;
    transition: 0.6 ease;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .btn {
        border: 1px solid white;
        padding: 10px 17px;
        margin: 0.3%;
        color: rgb(36, 33, 33);
        text-decoration: none;
        transition: 0.6 ease;
    }
}

.btn:hover {
    background-color: #fff;
    color: #000;
}


/********************box (border of animated box) for index page************************/

.box {
    position: relative;
    text-align: center;
    border-style: hidden;
    border-width: 0px;
    display: table;
    top: 50px;
    width: 70rem;
    transform: (-50%, -50%);
    margin: auto auto 15px 37%;
    width: 450px;
    height: 100px;
    background-color: #8bb8ff;
    text-orientation: sideways;
    transition: unset;
    border-radius: 5px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    background-color: #ffffffbb;
    width: 550px;
    height: 200px;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .box {
        width: 80%;
        top: 0.8%;
        margin-left: 10%;
    }
    .box:hover {
        margin-left: 10%;
        width: 80%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .box {
        width: 40%;
        margin-left: 30%;
    }
    .box:hover {
        width: 40%;
        height: 150px;
    }
}


/*font last box on index page*/

.box p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
}


/*****************contact page*******************/


/*make text box fill screen */

.flex-container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.fill-width {
    flex: 1;
}


/*box for contact page*/

.contact {
    position: relative;
    text-align: center;
    display: table;
    top: 5%;
    padding-bottom: 15px;
    margin-left: 35%;
    width: 33%;
    background-color: #8bb8ff;
    text-orientation: sideways;
    border-radius: 5px;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .contact {
        top: 2%;
        margin-left: 5%;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .contact {
        top: 5%;
        margin-left: 10%;
        width: 70%;
    }
}

.bottomrow {
    text-align: center;
    margin-top: 10%;
    height: 100px;
    width: 100%;
    float: bottom;
    background-color: #535353;
}


/*******************************project 1*************************************/

table {
    /*
    margin-left: 10%;
    */
    margin-right: 100px;
    width: 80%;
    margin: 10% auto;
    background: rgb(49, 118, 197);
}

table.list {
    text-align: center;
    color: #eee;
    width: 100%;
}

td {
    color: #eee;
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),
table.list thread>tr {
    background-color: rgb(0, 162, 211);
}

input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 1% 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #4b99d8;
}

input[type="reset"]:hover {
    background: #4b99d8;
}


/*******************************project 2*************************************/