* {
    margin-bottom: 5px;
    font-family: Helvetica;
    text-align: center;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #0040ca, #8ecdff);
    /*height: 55pt;*/
    /*max-width: 1200px;*/
    margin: auto;
}

body {
    margin: 0px;
    text-align: center;
    background-color: #535353;
}


/*top button selection*/

ul {
    padding: 3px 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5px;
    width: auto;
    height: auto;
    text-orientation: sideways;
    transition: unset;
    transition: width 1s, height 1s, background-color 1s, transform 0.5s;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    ul li a:hover {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    ul li a:hover {
        width: 75%;
    }
}

ul li.active a {
    background-color: #fff;
    color: #000;
}


/**********pc logo***************/

.logo img {
    /*background-color: rgb(61, 61, 61);*/
    margin-left: 28%;
    height: top;
    float: left;
    width: 45%;
    height: auto;
}


/*for text where to start*/

.title {
    position: absolute;
    /*background-color: DodgerBlue;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: rgb(7, 7, 7);
    align-self: center;
    font-size: 200%;
}

.title h2 {
    color: rgb(0, 0, 0);
}


/*not in use*/

.title small {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.nav {
    overflow: hidden;
    position: right;
    top: 0;
    float: right;
}

.topleft h3 {
    position: fixed left;
    top: 0;
    float: left;
    margin: 1%;
    background-color: #424242;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .nav,
    .topleft h3 {
        float: none;
        padding: 2%;
        margin: 3%;
        text-align: center;
    }
}

.button {
    text-align: center;
    height: 155pt;
    padding-top: 15%;
    width: 70em;
    transform: (-50%, -50%);
}

.button_date {
    position: absolute;
    color: rgb(97, 97, 97);
    top: 55%;
    left: 65%;
    transform: (-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 10px 30px;
    color: rgb(36, 33, 33);
    text-decoration: none;
    transition: 0.6 ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.contact {
    position: relative;
    text-align: center;
    display: table;
    top: 10%;
    margin-left: 35%;
    width: 35%;
    background-color: #8bb8ff;
    text-orientation: sideways;
    border-radius: 1%;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .contact {
        top: 10%;
        margin-left: 18%;
        width: 70%;
    }
}


/********************Multiple animated properties************************/

.box {
    position: relative;
    text-align: center;
    border-style: hidden;
    border-width: 0px;
    display: table;
    top: 100px;
    margin-left: 30%;
    width: 450px;
    height: 100px;
    background-color: #8bb8ff;
    text-orientation: sideways;
    transition: unset;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    background-color: #ffffff;
    width: 550px;
    height: 200px;
}

@media (max-width: 768px) {
    /* styles for screens smaller than 768px */
    .box {
        width: 30%;
        margin-left: 35%;
    }
    .box:hover {
        width: 30%;
        height: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* styles for screens between 768px and 1200px */
    .box {
        width: 40%;
        margin-left: 30%;
    }
    .box:hover {
        width: 40%;
        height: 150px;
    }
}


/*******************************project 1*************************************/

table {
    /*
    margin-left: 10%;
    */
    margin-right: 100px;
    width: 80%;
    margin: 10% auto;
    background: rgb(49, 118, 197);
}

table.list {
    text-align: center;
    color: #eee;
    width: 100%;
}

td {
    color: #eee;
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even),
table.list thread>tr {
    background-color: rgb(0, 162, 211);
}

input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 1% 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #4b99d8;
}

input[type="reset"]:hover {
    background: #4b99d8;
}


/*******************************project 2*************************************/